input {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 100%;
}

a {
    color: orange;
}

h2, p {
    color: white;
}

main {
    width: 100%;
    background-image: url('../../../public/background-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 80px);
    padding: 1px;
    color: white;
    align-items: center;
}

#cadastro {
    margin: 40px 30%;
    background-color: rgb(50, 50, 50);
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
    border-radius: 15px;
    text-align: center;
}

#cadastro p {
    text-align: left;
}

button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: darkorange;
}

::ng-deep footer {
    display: none;
  }

::ng-deep #dev {
    display: none;
  }

::ng-deep body {
    background-color: black;
  }

  @media (max-width: 770px){
    #cadastro {
        margin: 40px 20%;
        padding: 20px 60px;
    }
  }

  @media (max-width: 426px){
    
  }
