<div *ngIf="vazio == true && logado == true && finalizado == false" class="vazio">
    <div id="center">
        <h1> Seu Carrinho está vazio</h1>
        <P id="back"> <a href="">Voltar para o Site </a></P>
    </div>
</div>

<div *ngIf="vazio == false && finalizar == false" id="carrinho">
    <div *ngFor="let produto of carrinho" class="item">
        <img src="{{produto.produto}}.jpg" class="foto" alt="{{produto.nome}}">
        <div class="desc">
            <p>{{produto.nome}}</p>
            <p>R$ {{produto.preco}},00</p>
            <p>Tamanho: {{produto.tamanho}}</p>
        </div>
        <div class="delete">
            <a><i (click)="excluir(produto.codigo)" class="material-icons">delete</i></a>
        </div>
    </div>
    <div id="total">
        <p>Total: R$ {{total}},00</p>
    </div>
    <div class="buttons" *ngIf="finalizar == false">
        <a id="esvaziar"><input type="button" value="Esvaziar Carrinho" (click)="esvaziarCarrinho()"></a>
        <a id="comprar"><input type="button" value="Finalizar Compra" (click)="finalizarCompra()"></a>
    </div>
</div>

<div *ngIf="logado == false" class="vazio">
    <div id="center">
        <h1>Você não está conectado</h1>
        <p id="back"> <a href="./login">Faça o Login</a></p>
    </div>
</div>

<div *ngIf="finalizar == true && finalizado == false" id="finalizar">
    <h2>Informe o endereço de entrega</h2>
    <div id="entrega">
        <h4 id="pre_all">{{mensagem}}</h4><br>
        <p>Lagradouro:</p> <input type="text" [(ngModel)]="lagradouro"><br>
        <p>Número:</p> <input type="text" [(ngModel)]="numero"><br>
        <p>Bairro:</p><input type="tex" [(ngModel)]="bairro"><br>
        <p>Cidade:</p><input type="tex" [(ngModel)]="cidade"><br>
        <p>Estado:</p> <input type="tex" [(ngModel)]="estado"><br>
        <p>CEP:</p> <input type="tex" [(ngModel)]="cep"><br>
        <a id="end"><input type="button" value="Finalizar Compra" (click)="comprar()"></a>
    </div>
</div>

<div *ngIf="finalizado == true" id="fim">
    <div id="centerFim">
        <p id="msg">{{mensagem}}</p>
        <p id="backFim"> <a href="">Voltar para o site</a></p>
    </div>
</div>
