/* Vazio */

.vazio {
    text-align: center;
    height: calc(100vh - 200px);
}

#center {
    margin-top: 100px;
}

#center p {
    margin: 100px;
    font-size: 40px;
}

#center h1 {
    font-size: 40px;
    text-transform: uppercase;
}

#back a {
    color: black;
    border: 2px solid black;
    padding: 20px;
    border-radius: 50px;
}

/* Carrinho */

#carrinho {
    padding: 20px 100px;
    min-height: calc(100vh - 150px);
}

.item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 2px solid gray;
    padding: 10px;
}

.desc p {
    margin-left: 20px;
}

.foto {
    width: 100px;
}

.delete {
    display: flex;
    cursor: pointer; 
    align-items: center;
    margin-left: auto;
}

.delete a {
    color: black;
    text-decoration: none;
}

input[type="button"] {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

input[type="button"]:hover {
    background-color: #555;
  }

#total p {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#esvaziar {
    margin-right: auto;
}

#comprar {
    margin-left: auto;
}

#finalizar {
    width: 100%;
    background-image: url('../../../public/background-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 80px);
    color: white;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
    text-align: center;
    padding-top: 20px;
}

#entrega {
    align-items: center;
    text-align: center;
    margin: 0 40% 50px;
}

#entrega input {
    width: 100%;
    border-radius: 5px;
}

#entrega p {
    text-align: left;
}

#end input{
    margin-top: 20px;
}

#pre_all {
    color: red;
    text-align: center;
    font-size: 20px;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

#fim {
    text-align: center;
    width: 100%;
    background-image: url('../../../public/background-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 80px);
    color: white;
}

#backFim a {
    color: white;
    border: 2px solid white;
    padding: 15px;
    border-radius: 50px;
}

#centerFim {
    padding-top: 100px;
}

#centerFim p {
    margin: 100px;
    font-size: 40px;
}

#centerFim h1 {
    font-size: 40px;
    text-transform: uppercase;
}

@media (max-width: 426px){
    #carrinho {
        padding: 20px 50px;
    }

    input[type="button"] {
        font-size: 15px;
    }

    #back a {
        font-size: 20px;
    }

    #center p {
        font-size: 30px;
    }
}

@media (max-width: 400px){

    .foto {
        width: 70px;
    }

    input[type="button"] {
        margin-top: 20px;
    }

    #back a {
        font-size: 15px;
    }

    #center p {
        margin: 50px;
    }

    .buttons {
        display: inline-block;
        text-align: center;
    }
}
