/* You can add global styles to this file, and also import other style files */
/*navbar*/
body, p, h1, h2, input, textarea {
    margin: 0;
    font-family: Roboto;
}
  
#navbar {
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#navbar h1, a {
    margin: 0;
    text-decoration: none;
    color: white;
}

#acount:hover {
    color: orange;
}

img {
    width: 100%;
}

#logodiv {
  width:10%;
}

#car {
  align-items: right;
  margin-right: 10px;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 120px;
    background-color: white;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover #acount, #car:hover {
    color: orange;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Footer */

  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 250px;
  }


  .foot h2 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  
  .foot ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  

  #help {
    width: 15%;
  }

  #sobre {
    width: 45%;
    padding: 0 10px;
  }

  #pagamento {
    width: 20%;
  }

  #social {
    width: 20%;
  }

  .foot li a {
    text-decoration: none;
  }

  .foot li {
    list-style: none;
  }

  .foot li a:hover {
    border-bottom: 2px solid #ccc;
  }

  #pagamento img {
    max-width: 50px;
    margin: 5px;
  }

  #social img {
    max-width: 30px;
  }

  #dev{
    width: 100%;
    background-color: #333;
    text-align: center;
    color: white;
    font-size: 20px;
    height: 30px;
  }

  span {
    font-weight: bold;
  }

  @media (max-width: 426px){
    #logodiv img {
      width: 70px;
    }

    footer {
      width: 100%;
      flex-wrap: wrap;
      height: auto;
      justify-content: center;
    }

    footer .foot {
      width: 49.999%;
      min-width: 49.999%;
      margin-bottom: 20px;
    }
  }